/* line 1, ../../sass/custom.scss */
.error-registro {
  color: #a94442;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 7, ../../sass/custom.scss */
.kv-plugin-loading.loading-busquedaform-busqueda {
  display: none;
}

/* line 10, ../../sass/custom.scss */
.datepicker {
  left: 26px !important;
}

/* line 14, ../../sass/custom.scss */
#buscador {
  display: block !important;
}

/* line 18, ../../sass/custom.scss */
.datepicker.dropdown-menu {
  width: 50% !important;
}

/* line 22, ../../sass/custom.scss */
#ava_per {
  width: 36px !important;
  height: 36px !important;
}

/* line 27, ../../sass/custom.scss */
#cabecera_perfil {
  width: 1238px !important;
  height: 375px !important;
}

/* line 31, ../../sass/custom.scss */
.profile-menu li > div {
  color: white !important;
}

/* line 36, ../../sass/custom.scss */
#menu_admin:hover {
  color: white !important;
}

/* line 40, ../../sass/custom.scss */
#slider {
  width: 75.73px !important;
  height: 75.73px !important;
}

/* line 45, ../../sass/custom.scss */
#galeria {
  width: 300px !important;
  height: 300px !important;
}

/* line 50, ../../sass/custom.scss */
.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: rgba(255, 223, 223, 0.36);
}

/* line 54, ../../sass/custom.scss */
#init, #cancel, #delete {
  color: #fff !important;
}

/* line 58, ../../sass/custom.scss */
#init {
  background: #9bcb2f !important;
}

/* line 62, ../../sass/custom.scss */
#cancel {
  background: #1e0707c9 !important;
}

/* line 66, ../../sass/custom.scss */
#delete {
  background: red;
}

/* line 70, ../../sass/custom.scss */
.fade {
  opacity: 1 !important;
}

/* line 74, ../../sass/custom.scss */
#friends_pro {
  width: 100px !important;
  height: 100px !important;
}

/* line 79, ../../sass/custom.scss */
#fila {
  margin-left: 18% !important;
}

/* line 83, ../../sass/custom.scss */
#amistades {
  margin-right: 35%;
}

/* line 87, ../../sass/custom.scss */
#listado_amigos {
  width: 35px !important;
  height: 35px !important;
}

/* line 92, ../../sass/custom.scss */
#aceptar.accept-request {
  background-color: #47f026 !important;
}

/* line 96, ../../sass/custom.scss */
#rechazar.accept-request {
  background-color: #de5c39 !important;
}

/* line 100, ../../sass/custom.scss */
#img_pet {
  width: 34px;
}

/* line 104, ../../sass/custom.scss */
.profile-menu li a.btn {
  color: white !important;
}
/* line 107, ../../sass/custom.scss */
.profile-menu li a.btn:hover {
  color: #515365 !important;
}

/* line 112, ../../sass/custom.scss */
#svg_cupcake {
  width: 26px;
  height: 20px;
}

/* line 117, ../../sass/custom.scss */
#shite-header.fixed-logo {
  position: fixed;
  z-index: 22;
  width: 70px;
}

/* line 123, ../../sass/custom.scss */
.fixed-logo .logo {
  height: 70px;
  background-color: #ff5e3a;
  padding: 15px;
}

/* line 129, ../../sass/custom.scss */
#btn_logout {
  display: none;
}

/* line 133, ../../sass/custom.scss */
p.more {
  font-size: 100% !important;
}

/* line 137, ../../sass/custom.scss */
#foto_perfil {
  width: 120px;
  height: 120px;
}

/* line 142, ../../sass/custom.scss */
#liked, #compartido.post-add-icon, span#compartido {
  color: #ff5e3a !important;
  fill: #ff5e3a !important;
}
/* line 145, ../../sass/custom.scss */
#liked:hover, #compartido.post-add-icon:hover, span#compartido:hover {
  fill: #c2c5d9 !important;
  color: #c2c5d9 !important;
}

/* line 151, ../../sass/custom.scss */
.buttons {
  margin-left: 30%;
}

/* line 155, ../../sass/custom.scss */
.post-control-button #compartido_but, .post-control-button #liked_but {
  background: #ff5e3a !important;
}

/* line 159, ../../sass/custom.scss */
.friend-item-content {
  padding: 0 25px 0px 25px;
}

@media (max-width: 768px) {
  /* line 164, ../../sass/custom.scss */
  #cabecera_perfil {
    height: 225px !important;
  }

  /* line 168, ../../sass/custom.scss */
  #friends_pro {
    margin-top: 10% !important;
  }
}
@media (min-width: 768px) {
  /* line 175, ../../sass/custom.scss */
  .header .page-title {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  /* line 181, ../../sass/custom.scss */
  .profile-menu #btn_logout {
    display: block !important;
  }
}
@media (min-width: 576px) {
  /* line 187, ../../sass/custom.scss */
  #friends_pro {
    width: 75px !important;
    height: 75px !important;
  }
}
@media (max-width: 576px) {
  /* line 194, ../../sass/custom.scss */
  .friend-avatar .author-thumb {
    width: 98px;
  }

  /* line 197, ../../sass/custom.scss */
  #friends_pro {
    margin-top: 20% !important;
    width: 60px !important;
    height: 60px !important;
  }

  /* line 204, ../../sass/custom.scss */
  .friend-count {
    margin-bottom: 0px !important;
  }
}
