.error-registro{
	color: #a94442;
	margin-top: 5px;
	margin-bottom: 10px;
}

.datepicker {
	left: 26px !important;
}

.datepicker.dropdown-menu {
	width: 50% !important;
}

#ava_per{
	width: 36px !important;
	height: 36px !important;
}

#cabecera_perfil {
	width: 1238px !important;
	height: 375px !important;
}
.profile-menu li > div{
	color:white !important;
	
}

#slider {
	width: 75.73px !important;
	height: 75.73px !important;
}

#galeria {
	width: 300px !important;
	height: 300px !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(255, 223, 223, 0.36);
}

#init, #cancel, #delete{
	color: #fff !important;
}

#init{
	background: #9bcb2f !important;
}

#cancel {
	background: #1e0707c9 !important;
}

#delete {
	background: red;
}

.fade {
	opacity: 1 !important;
}

#friends_pro{
	width: 100px !important;
	height: 100px !important;
}

#fila {
	margin-left: 18% !important;
}

#amistades{
	margin-right: 35%;
}

#listado_amigos{
	width: 35px !important;
	height: 35px !important;
}

#aceptar.accept-request{
	background-color: #47f026 !important;
}

#rechazar.accept-request{
	background-color: #de5c39 !important;
}

#img_pet{
	width: 34px;
}

.profile-menu li a.btn {

	color: white !important;
	&:hover{
		color: #515365 !important;
	}
}

#svg_cupcake {
	width: 26px;
	height: 20px;
}

#shite-header.fixed-logo {
	position: fixed;
	z-index: 22;
	width: 70px;
}

.fixed-logo .logo {
	height: 70px;
	background-color: #ff5e3a;
	padding: 15px;
}

#btn_logout {
	display: none;
}

p.more{
	font-size: 100% !important;
}

#foto_perfil{
	width: 120px;
	height: 120px;
}

#liked,#compartido.post-add-icon, span#compartido{
	color:  #ff5e3a !important;
	fill:  #ff5e3a !important;
	&:hover{
	    fill: #c2c5d9 !important;
	    color: #c2c5d9 !important;
	}
}

.buttons {
	margin-left: 30%;
}

.post-control-button #compartido_but, .post-control-button #liked_but {
	background: #ff5e3a !important;
}

.friend-item-content {
    padding: 0 25px 0px 25px;
}

@media (max-width: 768px) { 
	#cabecera_perfil {
		height: 225px !important;
	}

	#friends_pro{
		margin-top: 10% !important;
	}
}


@media (min-width: 768px) { 
	.header .page-title {
    	display: block !important;
	}
}

@media (min-width: 1200px) {
	.profile-menu #btn_logout {
    	display: block !important;
	}
}

@media (min-width: 576px) {
	#friends_pro {
	    width: 75px !important;
		height: 75px !important;
	}
}

@media (max-width: 576px) {
	.friend-avatar .author-thumb {
	    width: 98px;
	}
	#friends_pro {
		margin-top: 20% !important;
	    width: 60px !important;
		height: 60px !important;

	}

	.friend-count {

	    margin-bottom: 0px !important;

	}
}

