/* line 1, ../../sass/custom.scss */
.error-registro {
  color: #a94442;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 7, ../../sass/custom.scss */
#ava_per {
  width: 36px !important;
  height: 36px !important;
}

/* line 12, ../../sass/custom.scss */
#cabecera_perfil {
  width: 1238px !important;
  height: 375px !important;
}

/* line 16, ../../sass/custom.scss */
.profile-menu li > div {
  color: white !important;
}

/* line 21, ../../sass/custom.scss */
#slider {
  width: 75.73px !important;
  height: 75.73px !important;
}

/* line 26, ../../sass/custom.scss */
.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: rgba(255, 223, 223, 0.36);
}

/* line 30, ../../sass/custom.scss */
#init, #cancel, #delete {
  color: #fff !important;
}

/* line 34, ../../sass/custom.scss */
#init {
  background: #9bcb2f !important;
}

/* line 38, ../../sass/custom.scss */
#cancel {
  background: #1e0707c9 !important;
}

/* line 42, ../../sass/custom.scss */
#delete {
  background: red;
}

/* line 46, ../../sass/custom.scss */
.fade {
  opacity: 1 !important;
}

/* line 50, ../../sass/custom.scss */
#friends_pro {
  width: 100px !important;
  height: 100px !important;
}

/* line 55, ../../sass/custom.scss */
#fila {
  margin-left: 18% !important;
}

/* line 59, ../../sass/custom.scss */
#amistades {
  margin-right: 35%;
}

/* line 63, ../../sass/custom.scss */
#listado_amigos {
  width: 35px !important;
  height: 35px !important;
}

/* line 68, ../../sass/custom.scss */
#aceptar.accept-request {
  background-color: #47f026 !important;
}

/* line 72, ../../sass/custom.scss */
#rechazar.accept-request {
  background-color: #de5c39 !important;
}

/* line 76, ../../sass/custom.scss */
#img_pet {
  width: 34px;
}

/* line 80, ../../sass/custom.scss */
.profile-menu li a.btn {
  color: white !important;
}
/* line 83, ../../sass/custom.scss */
.profile-menu li a.btn:hover {
  color: #515365 !important;
}

/* line 88, ../../sass/custom.scss */
#svg_cupcake {
  width: 26px;
  height: 20px;
}

/* line 93, ../../sass/custom.scss */
#shite-header.fixed-logo {
  position: fixed;
  z-index: 22;
  width: 70px;
}

/* line 99, ../../sass/custom.scss */
.fixed-logo .logo {
  height: 70px;
  background-color: #ff5e3a;
  padding: 15px;
}

/* line 105, ../../sass/custom.scss */
#btn_logout {
  display: none;
}

/* line 109, ../../sass/custom.scss */
p.more {
  font-size: 100% !important;
}

/* line 113, ../../sass/custom.scss */
#foto_perfil {
  width: 120px;
  height: 120px;
}

/* line 118, ../../sass/custom.scss */
#liked, #compartido.post-add-icon, span#compartido {
  color: #ff5e3a !important;
  fill: #ff5e3a !important;
}
/* line 121, ../../sass/custom.scss */
#liked:hover, #compartido.post-add-icon:hover, span#compartido:hover {
  fill: #c2c5d9 !important;
  color: #c2c5d9 !important;
}

/* line 127, ../../sass/custom.scss */
.buttons {
  margin-left: 30%;
}

/* line 131, ../../sass/custom.scss */
.post-control-button #compartido_but, .post-control-button #liked_but {
  background: #ff5e3a !important;
}

@media (max-width: 768px) {
  /* line 136, ../../sass/custom.scss */
  #cabecera_perfil {
    height: 225px !important;
  }

  /* line 140, ../../sass/custom.scss */
  #friends_pro {
    margin-top: 50% !important;
    width: 50px !important;
    height: 50px !important;
  }
}
@media (min-width: 768px) {
  /* line 149, ../../sass/custom.scss */
  .header .page-title {
    display: block !important;
  }

  /* line 153, ../../sass/custom.scss */
  #friends_pro {
    width: 75px !important;
    height: 75px !important;
  }
}
@media (min-width: 1200px) {
  /* line 160, ../../sass/custom.scss */
  .profile-menu #btn_logout {
    display: block !important;
  }
}
